@media (min-width: 768px) {
  .break-on-desktop {
    display: block;
  }

  .footer-fine-print {
    font-size: 9px;
  }
  
}

@media (min-width: 992px) {
  /* Layout */
  .wrapper-large {
    max-width: var(--container-lg-width);
    margin-inline: auto;
  }

  .wrapper-1500 {
    max-width: var(--container-1500);
    margin-inline: auto;
  }

  .wrapper {
    max-width: var(--container-width);
    margin-inline: auto;
  }

  .wrapper-sm {
    max-width: var(--container-sm-width);
    margin-inline: auto;
  }

  #main-footer::before {
    content: url('../img/top-wave-border-desktop.svg');
  }

  .footer-upper-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-menus {
    order: 2;
    display: flex;
    gap: 3rem;
  }

  .footer-logo-wrapper {
    order: 1;
  }

  .mobile-footer-divider {
    display: none;
  }

  .footer-menu-wrapper {
    text-align: start;
    margin-bottom: 0;
  }

  .navbar-brand img {
      max-width: 177px;
  }

  .navbar-nav {
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
  }

  .nav-item.dropdown {
    margin-right: auto;
    position: static;
  }

  .navbar-brand {
    top: 15px;
  }

  .navbar-collapse {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    position: static;
  }

  .nav-link {
    color: var(--ap-white);
    font-size: 26px;
    height: 75px;
    display: flex;
    align-items: center;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ap-med-yellow);
  }

  .navbar-nav .nav-item.dropdown .dropdown-menu {
    position: absolute !important;
    inset: 0px 0px auto 0px;
    margin: 0px;
    transform: translate(0px, 75px) !important;
    width: 100%;
    padding: 6rem 2rem 2rem;
    z-index: 1;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.20);
  }
  
  .nav-item.dropdown:hover>.dropdown-menu,
  .nav-item.dropdown:focus>.dropdown-menu {
    display: block;
  }

  .nav-item.dropdown>.nav-link.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .dropdown-menu-innerwrapper {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1050px;
    margin-inline: auto;
    gap: 1rem;
  }

  .menu-prod-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--ap-lt-yellow);
    border-radius: 40px;
    padding: 1rem;
    aspect-ratio: 1; 
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0);
    transition: all .3s ease;
  }

  .menu-prod-card:hover,
  .menu-prod-card:focus { 
    box-shadow: 0px 10px 10px 4px rgba(0,0,0,0.15);
  }

  .menu-prod-card > * {
    flex-shrink: 1;
  }

  .prod-card-img-wrapper {
    background-color: unset;
    width: 100%;
    max-width: 180px;
    border-radius: unset;
    padding: unset;
  }

  /* Page Styles */

  .hero-section-img {
      height: 750px;
      -o-object-fit: cover;
         object-fit: cover;
  }

  .header-banner-text {
    bottom: 2rem;
  }

  .section-title {
    font-size: var(--ap-fs-910);
    line-height: 1.1;
}

.small-subtext {
    font-size: 30px;
    max-width: 920px;
    margin-inline: auto;
}

  .section-text {
    font-size: 20px;
  }

  /* General Styles */
  .video-play-icon {
      max-width: 160px;
  }

  .modal-body {
    border-radius: 40px;
  }

  .btn-close {
    width: 2rem;
    height: 2rem;
  }

  .form-label {
      font-size: 30px;
  }

  input, optgroup, select, textarea {
      border-radius: 25px;
      padding: .5rem 2rem;
      font-size: 21px;
  }

  textarea {
      padding: 2rem;
  }

  .form-btn {
    margin-right: 0;
  }
}